body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.loading {
  display: none;
}
.sidebar {
  background: #202020;
  color: white;
  width: 200px;
  padding: 20px;
}
.sidebar .logo {
  font-size: 24px;
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}
.sidebar li:hover {
  color: red;
}
.content {
  flex: 1;
  background: black;
}
